*{
    box-sizing: border-box;
}
body{
    background-color: #0067f4;
}

ul {
    list-style-type:none;
}

.download{
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    transition: all .4s ease-out 0s;
    background-color: white;
    color: #0067f4;
    border: 2px solid transparent;
    border-radius: 5px;
    
    
}

.download:hover{
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
    background-color:#0067f4 ;
    color: white;
    border-radius: 5px;
    border: 2px solid white;    
}

$border-color:linear-gradient(90deg, rgba(255,0,0,0), rgba(255,0,0,1));


ul li a{
    border-bottom: 5px solid $border-color; 
}


li a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    line-height: 1.7rem;
}

.title h1{
    font-size: 2.5rem;
    color: white;
}

.description p{
    color: white;
    font-size: 1.5rem;
}

.button {
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
    margin: 4px 2px;
    cursor: pointer;
    transition: all .4s ease-out 0s;
  }

.button-left{
    background-color: white;
    color: #0067f4;
    border-radius: 50px;
    border: 2px solid transparent;
}

.button-left:hover{
    background-color:#0067f4 ;
    color: white;
    border-radius: 50px;
    border: 2px solid white;
}

.button-right{
    background-color:#0067f4 ;
    color: white;
    border: 2px solid white;
    border-radius: 50px;
}

.button-right:hover{
    background-color: white;
    color: #0067f4;
    border-radius: 50px;
    border: 2px solid transparent;
}

section{
    display: grid;
    grid-template-columns: 40% 60%;
}

